// Place all the styles related to the pr02 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$accent-color: #37966F;
$accent-color-dark: #356859;
$secondary-color: #FD5523;
$base-color: #FFFBE6;

*{ 
	font-family: Helvetica;
    padding: 0;
}




/* Nuetzliche Klassen */
body {
	margin: 0px;
	display: grid;
	grid-template-columns:10em auto;
	grid-template-rows: 80px auto 20px;
	grid-column-gap: 1em;
	background-color: $base-color;
	min-height: 100vh;
	width: 100vw;
}

a{
	color: $accent-color-dark;
	text-decoration: none;
	font-weight: bold;
	&:visited{
		color: #ff7200;
	}
	&:hover{
		color: blue !important;
	}
	&:active{
		color:$secondary-color;
	}

}

table {
	border-collapse: collapse;
}

tbody{
	box-shadow:0px 0px 0px #000; 
}

td	{
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.strikeout {
	text-decoration: line-through;
}
.color{
	background-image: -webkit-linear-gradient( 40deg, #521BC1, #F1346E); 
	color: white;
    min-height: 100vh;
}

.neutral{
	background-color: $base-color;
	color:$accent-color;
}

.marker{
	color: $secondary-color;
	text-align: center;
}


/* Punktgenaue Wirksamkeit dank IDs: */

#hr1 {
	margin-left: 0px;
	width: 100px;
	border-top: 1px solid $accent-color;
}
#hr2 {
	margin-right: 0px;
	width: 60%;
	border-top: 1px solid $accent-color;
}
#hr3 {
	width: 30%;
	height: 4px;
	border-top: 1px solid $accent-color;
}

#timeTable{
	width: 70vw;
	margin: 0 auto;

	th{
		color: $secondary-color;
		background-color: #fff0 ;
			
	}
	tr{
		height: 5vh;

		th{
			width: calc(80%/5);
			margin: 0px 5%;
			height: 5vh;
			&:nth-child(1){
				width: 10%;
				background-color: #fff0 !important;
			}
		}
		&:nth-child(odd){
			background-color: #fff0;
			color:$accent-color-dark;	
			border-bottom: $accent-color 1px solid;
		}		
		&:nth-child(even){
			color:$accent-color-dark;	
		}

	}

}

#logo{
	background-color: $base-color;
	width: 10em;
	img{
		width: 10em;
		margin-top:10px;
	}
}

#headline{
	text-align: center;
	background-color: $base-color;
	color: $secondary-color;
	margin: 0;
	display:flex;
	justify-content:center;
	align-items:center;
}
#main{
    box-shadow: -1px 5px 13px #000;
	padding:1em;
	width: calc(100vw - 13em);
	overflow-x: auto;
}
#sidebar {
    text-align: center;
    background-color: $base-color;
    display: flex;
    justify-content: center;
    align-items: center;
	ul{
		list-style-type: none;
		li{
			margin-bottom: 1vh;
		}
	}
}
#center{
	text-align: center;
}
#right{
	text-align: right;
}

#info{
	list-style-type: none;
	*{
		list-style-type: none;
	}
}
#noBreak{
	white-space: nowrap;
}

#footer{
	background-color: $base-color;
	text-align: center;
	grid-column-start: 1;
  	grid-column-end: 3;
	color: $accent-color;
	box-shadow: 0px 5px 13px #000;
    z-index: 0;
}
