%h1 Einleitung

%p 
    In der Einleitung soll der Umgang mit Texten geuebt werden.
    Hierzu gehoeren Ueberschriften, Absaetze, Zeilenumbrueche sowie verschiedene 
    Formatierungsmoeglichkeiten. Setzen Sie ausserdem in allen Dokumenten
    die Umlaute korrekt um.

%p 
    Erzeugen Sie am Ende der Zeile einen Zeilenumbruch. 
    %br/
    Erzeugen Sie am Ende der Zeile einen Zeilenumbruch.
    %br/
    Erzeugen Sie am Ende der Zeile einen Zeilenumbruch.
%p
    Hier bitte keinen Zeilenumbruch.
    Hier bitte keinen Zeilenumbruch.
    Hier bitte keinen Zeilenumbruch.
    Hier bitte keinen Zeilenumbruch.
    Sehen Sie einen Unterschied?

%p
    Ich bin ein fast endlos scheinender Satz, der einfach kein Ende nehmen will und eigentlich fuer die Anzeige im Browser viel zu lang ist, wenn das Browser-Fenster nicht gerade den gesamten Bildschirm eines Monitors mit sehr hoher Auflösung ausfüllt, aber ich moechte trotzdem nicht umgebrochen werden.

%p#center
    Dieser Abschnitt soll zentriert werden.
%p#left
    Dieser Abschnitt soll linksbuendig formatiert werden.
%p#right
    Dieser Abschnitt soll rechtsbuendig formatiert werden.

%p
    Im ersten Teilsatz soll ein Wort 
    %i#italic kursiv
    dargestellt sein,
    %br
    im zweiten soll eines in 
    %b Fettschrift
    erscheinen,
    %br
    und am Ende soll ein Wort 
    %del durchgestrichen 
    sein.
%p
    Hoffentlich haben Sie nicht vergessen, die Umlaute korrekt umzusetzen.
    Das Umsetzen der Umlaute gilt auch für die anderen Seiten.

%p= link_to "Dies ist ein Verweis zum Inhaltsverzeichnis", "index"