%h1 Kapitel 1

%p
    Dieses Kapitel beschäftigt sich mit Listen und graphischen Elementen. 
    Definieren Sie zürst für dieses Kapitel eine neü Hintergrundfarbe
    Ihrer Wahl. Experimentieren Sie mit verschiedenen RGB-Werten.


%ol.info
    %li Einführung
    %ol
        %li Teilgebiete
        %li Geschichte
        %li Auswirkungen
    %li Grundbegriffe
    %ol
        %li Mathematik
        %ol
            %li Menge
            %li Relation
            %li Information
            %li Sprachen
            %li Graphen
            %li Bäume
    
%hr/

=image_tag("hs-rm.gif", alt: "HS-RM Logo")
%hr#hr1/
=image_tag("ssmt_logo.gif", alt: "marte Systeme für Mensch und Technik")
%hr#hr2/
%hr#hr3/
%div=link_to  image_tag("redback.gif", alt: "Zurück zum Inhaltsverzeichniss"), "index"