<!DOCTYPE html>
%html
	%head
		%title="WBA-Übung 01" 
		%meta{:name=> "charset", :content=> "UTF-8"}
		%meta{:name=> "ROBOTS", :content =>"NOINDEX, NOFOLLOW"}
		= stylesheet_link_tag "application"
	%body
		= yield
